.pageName ,
h1,
h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: green;
    color: white;
}

ul{
    list-style: none;
    column-count: 3;
    font-family:Arial, Helvetica, sans-serif;
}

ul.ingredients{
    column-count: 4;
    box-sizing: content-box;
    list-style: disc;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px;
    outline: 4px solid green;

}

img{
    max-width: 420px;
    max-height: auto;
}

figure{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

figcaption{
    align-self: center;
    border-left: 1em solid green;
    padding-left: 1em;
    margin-left: 2em;
    width: 25vw;
}

.button{
    background-color: green;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}